/* BASIC STYLES */
  body {
    margin: 0;
    padding: 0;
    font-family: arial, 'sans-seri';
  }
  
  header {
    width: 100%;
  }
  
  ul {
    list-style: none;
  }
  
  /* NAV BAR */
  #nav_bar {
    float: right;
  }
  
  #nav_bar li {
    display: inline-block;
    padding: 10px;
  }
  
  #nav_bar #sign_in {
    background: #4887ef; 
    margin-right: 10px;
    padding: 5px 20px;   
  }
  
  .nav-links {
    color: #404040;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li.nav-links a:hover {
    text-decoration: underline;
  }
  
  #sign_in {
    color: #fff;
    background: #1a73e8;
    font-weight: 500;
    font-size: 14px;  
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    width: 90;
    vertical-align: middle;
    line-height: 2;
    text-align: center; 
    display: inline-block;  
  }

  /*Google and google images */
  .google #google_logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 10px;
    padding-bottom: 30px;    
  }

  .google #google_images {
    text-align: center;
    display: block;
    padding-top: 60px;
    padding-bottom: 5px; 
    padding-left: 320;   
  }
  
  .form {
    text-align: center;  
  }

  .buttons {   
    border: none;
    color: #3c4043;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 320px;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
  }
  
  #form-search {
    border-radius: 200px;
    width: 600px;
    line-height: 40px;
    border: none;
    background-color: transparent;
    color: rgba(0,0,0,.87);
    font-size: 16px;
    box-shadow: 1px 1px 1px 1px;
  }  

  .form2 {
    text-align: center; 
    margin-bottom: 380px; 
  }

  /*advance search */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 50px;
    padding-left: 30px;
    font-size: small;
  }

  .column1 {
    padding-top: 50px;
    font-size: small;
  }
  
  #AS{
    padding-top: 80px;
    padding-left: 30; 
    color: rgb(161, 32, 32);
    font-weight: normal;
  }

  #hr{
    padding-left: 0;    
  }

  #AS-button{
    margin-left: 520px;
    margin-top: 10;
    color: white;
    background-color: rgb(0, 68, 255);
    padding: 7px;
    border: none;
    
  }


  .form2 {
    box-sizing: border-box;
  }
  
  input[type=text]{
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
  }

  .col-25 {
    float: left;
    width: 30%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 70%;
    margin-top: 4px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .text-column1{
      padding-bottom: 5px;
      padding-top: 5px;
      font-size: small;

  }

  .text-column1-title{
      font-weight: 300;
  }
  
  
  /* FOOTER */
  footer  {
    background: #e4e4e483;
    border-top: solid 2px #e4e4e4a1;
    bottom: 0;   
    width: 100%;
    
  }
  
  footer ul li {
    display: inline;
    color: #202124;
    font-size: 14px;
    padding: 10px;
  }
  
  footer ul {
    float: left;
    padding: 1px;
  }
  
  footer ul a:hover {
    text-decoration: underline;
  }
  
  .footer-right {
    float: right;
  }
  
  /* MEDIA QUERIES */
  
  @media screen and (max-width: 400px) {
   
   li.nav-links a {
      display: none;
    }
    
   #google_logo {
     padding: 0;
   }
    


   footer {
     bottom: 0;
   }
    
   footer ul {
     float: none;
     padding-bottom: 2px;
      
   }
    
   .footer-left {
     text-align: center;
     margin: auto; 
     padding-top: 10px;
      
   }
    
   .footer-right {
     float: none;
     text-align: center;
     
   }
  }
  
  @media screen and (max-width: 565px) {
   
    li.nav-links a {
      display: none;
    }
    
    
   #google_logo {
     padding: 0;
   }
     
   footer {
  /*    bottom: 0;
     postion: absolute; */
     position:absolute;
     bottom:0;
     width:100%;
     height:40px;
   }
    
   footer ul {
     float: none;
     padding-bottom: 2px;
      
   }
    
   .footer-left {
     text-align: center;
     margin: auto; 
     padding-top: 10px;
      
   }
    
   .footer-right {
     float: none;
     text-align: center;
     
   }
  }
  
  
  
  
  
  
  
  
  
  
  
  